* {
	margin: auto;
	width: 90%;
}

body {
	background-color: lightsalmon;
}

.container {
	width: 80%;
	margin: auto;
}

.button{
	background-color: #333;
	color: #fff;
	padding: 10px 15px;
	border: none;
}

.box-1 {
	background-color: black;
	color: white;

	margin: 20px;

	border: 5px red solid;

	padding: 5px;
}

.box-1 h1 {
	text-decoration: underline;
	text-transform: uppercase;
	letter-spacing: 0.4em;
	font-weight: 800;
	padding: 10px;
}

a {
	text-decoration: none;
	color: black;
}

a:hover {
	color: red;
}

a:active {
	color:  green;
}

.categories {
	border: 1px red solid;
	border-radius: 5px;
}

.categories h2 {
	text-align: center;
}

.categories ul {
	padding: 0;
	list-style: square;
	list-style: none;
}

.categories li {
	padding-bottom: 6px;
	border-bottom: dotted 1px #333;
	/*list-style-image: url("check.png");*/
}

.my-form {
	padding: 20px;
}

.form-group .my-form {
	padding-bottom: 15px;
}

.my-form label{
	display: block;
}

.my-form input[type="text"], .my-form textarea {
	width: 100%;
	padding: 8px;
}

