body{
	background-color: white;
	color: #555;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 1rem;
	line-height: 1.6em;
	margin: 0;
}

.container h1{
	font-size: 50px;
	color: coral;
}

.container{
	width: 80%;
	margin: auto;
	overflow: hidden;
	line-height: 3em;
	padding-bottom: 15px;
}

#navbar{
	background-color: #333;
	color: #fff;
	border: 2px red solid ;
}

#navbar ul{
	padding: 0;
	list-style: none;
	word-spacing: 45px;
}

#navbar li{
	display: inline;

}

#navbar a{
	color: #fff;
	text-decoration: none;
	font-size: 18px;
	padding-right: 15px;
}

img{
	display: block;
	max-width: 100%;
	float: left;
}

#showcase{
	background-image: url('simple.jpg');
}

#showcase h1{
	float: right;
}

#main{
	float: left;
	width: 70%;
	padding: 0 30px;
	box-sizing: border-box;
}

.top{
	padding: 2px;
}

.top h2{
	font-weight: bold;
}

#main p{
	text-align: left;
}

#main-2{
	float: right;
	width: 30%;
	background: #333;
	color: #fff;
	padding: 10px;
	box-sizing: border-box;
	text-align: center;
}

#main-3{
	text-align: center;
}


#main-footer{
	background: #333;
	color: #fff;
	text-align: center;
	padding: 10px;
	margin-top: 40px;

}


@media(max-width: 800px){
	#main{
		width: 100%;
		float: none;
	}

	#main-2{
		width: 100%;
		float: none;
	}
}



































